---
layout: zakladni
---
<div class="uvod">
<h1 class="uvod__nadpis">Všechny</h1>

<ul class="seznam">
	{% for film in filmy %}
		<li class="seznam__odrazka">
        <a class="seznam__odrazka--odkaz" href="/film/{{ film.nazev | slug }}">{{ film.nazev }}</a></li>
	{% endfor %}
</ul>
</div>